textarea {
  overflow: hidden;  /* スクロールバーを非表示に */
  resize: none;
  border: none;
  outline: none;
  width: 300px;  /* または 100% */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line {
  border: none;
  border-top: 1px solid #ccc; /* 薄いグレーの線 */
  width: 100%;                /* コンテナ幅いっぱい */
}

.inputRow {
  display: flex;
  align-items: center;  /* ラベルとtextareaの高さを揃える */
  gap: 1rem;            /* ラベルと入力欄の間のスペース */
}