textarea {
  overflow: hidden;
  resize: none;
  border: 1px solid #ccc; /* 枠線を付けて見やすく */
  outline: none;
  width: 250px;  /* 幅を揃える */
  padding: 8px;  /* 内側余白 */
  border-radius: 6px;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px
}
.line {
  border: none;
  border-top: 1px solid #ccc; /* 薄いグレーの線 */
  width: 100%;                /* コンテナ幅いっぱい */
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 350px; /* ラベル＋textareaを含む幅 */
}
.inputRow label {
  width: 117px;  /* ラベルの幅を固定 */
  font-weight: bold;
  font-size: 1rem;
}
.inputRow input[type="date"] {
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 250px;  /* 幅を揃える */
}
.inputRow input[type="datetime-local"]{
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 250px;  /* 幅を揃える */
}
.inputRow select {
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.inputRow2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 350px; /* ラベル＋textareaを含む幅 */
}

